
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #dcedfc;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    line-height: 15px;
}

.photo {
    width: 200px;
    height: 210px;
}